

<!-- Material form register -->
<mdb-card>

  <mdb-card-header class="info-color white-text text-center py-4">
    <h5>
      <strong>Formulario Usuario</strong>
    </h5>
  </mdb-card-header>

  <!--Card content-->
  <mdb-card-body class="px-lg-5 pt-0">

    <!-- Form -->
    <form [formGroup]="formaUsuario"(ngSubmit)="guardarCambios()" class="text-center" style="color: #757575;">

      <div class="form-row">
        <div class="col-md-4">
          <!-- Nombre -->
          <div class="md-form">
            <input type="text" id="materialRegisterFormFirstName" class="form-control"formControlName="nombre" mdbInput>
            <label for="materialRegisterFormFirstName" >
              <div *ngIf="formaUsuario.controls['nombre'].errors?.required" class="form-control-feedback"  style="color: red;">
                  Nombre es necesario *
              </div>
              <div *ngIf="formaUsuario.controls['nombre'].errors?.minlength" class="form-control-feedback" style="color: red;">
                  por lo menos 3 caracteres
              </div>
            </label>


          </div>
        </div>
        <div class="col-md-4">
          <!-- Apellido -->
          <div class="md-form">
            <input type="text" id="materialRegisterFormLastName" class="form-control"formControlName="apellido" mdbInput>
            <label for="materialRegisterFormLastName" placeholder = "Apellidos">
                <div *ngIf="formaUsuario.controls['apellido'].errors?.required" class="form-control-feedback " style="color: red;">
                    Apellido es necesario *
                </div>
                <div *ngIf="formaUsuario.controls['apellido'].errors?.minlength" class="form-control-feedback " style="color: red;">
                    por lo menos 3 caracteres
                </div>
            </label>
          </div>
        </div>

        <div class="col-md-4">
          <!--Género-->
          <p>Género</p>
          <!-- Default inline 1-->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInlineMasculino"
              name="inlineDefaultRadiosExample">
            <label class="custom-control-label" for="defaultInlineMasculino">Masculino</label>
          </div>
          <!-- Default inline 2-->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInlineFemenino"
              name="inlineDefaultRadiosExample">
            <label class="custom-control-label" for="defaultInlineFemenino">Femenino</label>
          </div>
          <!-- Default inline 3-->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInlineOtros" name="inlineDefaultRadiosExample">
            <label class="custom-control-label" for="defaultInlineOtros">Otro</label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <!-- Tipo de documento -->
          <div class="md-form">
            <select id="tipodocumento" name="tipodocumento" class="browser-default custom-select" class="form-control" mdbInput>
              <option selected>Tipo de Documento</option>
              <option value="1">Cédula</option>
              <option value="2">T.I</option>
              <option value="3">Pasaporte</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <!-- Numero del Documento-->
          <div class="md-form">
            <input type="number" id="materialRegisterFormLastName" class="form-control"formControlName="numeroDocumento" mdbInput>
            <label for="materialRegisterFormLastName">
                <div *ngIf="formaUsuario.controls['numeroDocumento'].errors?.required" class="form-control-feedback " style="color: red;">
                    Número de documento es necesario *
                </div>

                <div *ngIf="formaUsuario.controls['numeroDocumento'].errors?.min" class="form-control-feedback " style="color: red;">
                    mínimo 7 números
                </div>
                <div *ngIf="formaUsuario.controls['numeroDocumento'].errors?.max" class="form-control-feedback " style="color: red;">
                    máximo 10 números
                </div>
            </label>


          </div>
        </div>
        <div class="col-md-4">
          <!--Estado Civil-->
          <p>Estado Civil</p>
          <!-- Default inline 1-->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="estadoCivil1" name="inlineDefaultRadiosExample">
            <label class="custom-control-label" for="estadoCivil1">Soltero</label>
          </div>

          <!-- Default inline 2-->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="estadoCivil2" name="inlineDefaultRadiosExample">
            <label class="custom-control-label" for="estadoCivil2">Casado</label>
          </div>

          <!-- Default inline 3-->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="estadoCivil3" name="inlineDefaultRadiosExample">
            <label class="custom-control-label" for="estadoCivil3">Unión Libre</label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <!-- Fecha de Nacimiento -->
          <div class="md-form">
            <input type="date" id="fechaDeNacimiento" name="fechaDeNacimiento" class="form-control" mdbInput>
            <label for="fechaDeNacimiento">Fecha de Nacimiento</label>
          </div>
        </div>
        <div class="col-md-4">
          <!-- Teléfono -->
          <div class="md-form">
            <input type="number" id="materialRegisterFormLastName" class="form-control"formControlName='telefono' mdbInput>
            <label for="materialRegisterFormLastName">
                <div *ngIf="formaUsuario.controls['telefono'].errors?.required" class="form-control-feedback " style="color: red;">
                    Teléfono fijo es necesario *
                </div>

                <div *ngIf="formaUsuario.controls['telefono'].errors?.min" class="form-control-feedback " style="color: red;">
                    mínimo 7 números
                </div>
                <div *ngIf="formaUsuario.controls['telefono'].errors?.max" class="form-control-feedback " style="color: red;">
                    máximo 7 números
                </div>
            </label>


          </div>
        </div>
        <div class="col-md-4">
          <!--Celular-->
          <div class="md-form">
            <input type="number" id="celular" name="celular"class="form-control" mdbInput>
            <label for="celular">Celular</label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <!-- E-mail -->
          <div class="md-form">
            <input type="email" id="materialRegisterFormFirstName" class="form-control"formControlName="correo"  mdbInput>
            <label for="materialRegisterFormFirstName">
                <div *ngIf="formaUsuario.controls['correo'].errors?.required" class="form-control-feedback " style="color: red;">
                    Correo es necesario *
                </div>

                <div *ngIf="formaUsuario.controls['correo'].errors?.pattern" class="form-control-feedback " style="color: red;">
                    ej: example@correo.com
                </div>
            </label>

          </div>
        </div>
        <div class="col-md-4">
          <div class="md-form">
            <!-- Departamento -->
            <select  id="departamento" name="departamento" class="browser-default custom-select">
              <option selected>Departamento</option>
              <option value="1">Antioquia</option>
              <option value="2">Cundinamarca</option>
              <option value="3">Caldas</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <!--Municipio-->
          <div class="md-form">
            <select id="municipio" name="municipio" class="browser-default custom-select">
              <option selected>Municipio</option>
              <option value="1">Medellín</option>
              <option value="2">Bogotá</option>
              <option value="3">Manizales</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <!-- Direccion de residencia -->
          <div class="md-form">
            <input type="text" id="materialRegisterFormFirstName" class="form-control"formControlName="direccionResidencia" mdbInput>
            <label for="materialRegisterFormFirstName">
                <div *ngIf="formaUsuario.controls['direccionResidencia'].errors?.required" class="form-control-feedback " style="color: red;">
                    Dirección es necesaria *
                </div>

                <div *ngIf="formaUsuario.controls['direccionResidencia'].errors?.minlength" class="form-control-feedback " style="color: red;">
                    por lo menos 10 caracteres
                </div>
            </label>

          </div>
        </div>
        <div class="col-md-4">
          <!-- Arl -->
          <div class="md-form">
            <select id="arl" name="arl" class="browser-default custom-select">
              <option selected>Arl</option>
              <option value="1">Sura</option>
              <option value="2">Positiva</option>
              <option value="3">Otra</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <!--Eps-->
          <div class="md-form">
            <select id="eps" name="eps" class="browser-default custom-select">
              <option selected>Eps</option>
              <option value="1">Nueva Eps</option>
              <option value="2">Sura</option>
              <option value="3">Coomeva</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <!-- Caja de Compensación -->
          <div class="md-form">
            <select id="cajaCompensacion" name="cajaCompensacion"class="browser-default custom-select">
              <option selected>Caja de Compensación</option>
              <option value="1">Comfama</option>
              <option value="2">Comfenalco</option>
              <option value="3">Otro</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <!-- Pensiones -->
          <div class="md-form">
            <select id="pensiones" name="pensiones" class="browser-default custom-select">
              <option selected>Pensiones</option>
              <option value="1">Colpensiones</option>
              <option value="2">Protección</option>
              <option value="3">Porvenir</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <!--Censantías-->
          <div class="md-form">
            <select id="cesantias" name="cesantias" class="browser-default custom-select">
              <option selected>Cesantías</option>
              <option value="1">Protección</option>
              <option value="2">Porvenir</option>
              <option value="3">Otro</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <!-- Entidad Empleadora -->
          <div class="md-form">
            <input type="text" id="materialRegisterFormFirstName" class="form-control"formControlName="entidadEmpleadora" mdbInput>
            <label for="materialRegisterFormFirstName">
                <div *ngIf="formaUsuario.controls['entidadEmpleadora'].errors?.required" class="form-control-feedback " style="color: red;">
                    Nombre de la empresa donde laboras es necesario *
                </div>

                <div *ngIf="formaUsuario.controls['entidadEmpleadora'].errors?.minlength" class="form-control-feedback " style="color: red;">
                    por lo menos 3 caracteres
                </div>
            </label>

          </div>
        </div>
        <div class="col-md-4">
          <!-- Cargo -->
          <div class="md-form">
            <input type="text" id="cargo" name="cargo" class="form-control" mdbInput>
            <label for="cargo">Cargo</label>
          </div>
        </div>
        <div class="col-md-4">
          <!--Fecha de Vinculación-->
          <div class="md-form">
            <input type="date" id="fechaDeVinculacion" name="fechaDeVinculacion" class="form-control" mdbInput>
            <label for="fechaDeVinculacion">Fecha de Vinculación</label>
          </div>
        </div>
      </div>
      <!--Tipo de Contrato-->
      <div class="md-form">
        <select id="tipoContrato" name="tipoContrato" class="browser-default custom-select">
          <option selected>Tipo de Contrato</option>
          <option value="1">Temporal</option>
          <option value="2">Prestación de Servicios</option>
          <option value="3">Indefinido</option>
          <option value="4">Fijo</option>
          <option value="3">Otro</option>
        </select>
      </div>
      <!-- button Enviar-->
      <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
        mdbWavesEffect type="submit">Enviar</button>
        {{formaUsuario.valid}}




    </form>
    <!-- Form -->

  </mdb-card-body>

</mdb-card>
<!-- Material form register -->
