<h1>Formulario de Usuarios</h1>

<!-- Material form register -->
<mdb-card>

  <mdb-card-header class="info-color white-text text-center py-4">
    <h5>
      <strong>Datos Usuarios</strong>
    </h5>
  </mdb-card-header>

  <!--Card content-->
  <mdb-card-body class="px-lg-5 pt-0">

    <!-- Form -->
    <form [formGroup]="formaUsuario"(ngSubmit)="guardarCambios()" class="text-center" style="color: #757575;">

      <div class="form-row">
        <div class="col">
          <!-- Nombre -->
          <div class="md-form">
              
            <input type="text" id="materialRegisterFormFirstName" class="form-control"formControlName="nombre" mdbInput>
            <label for="materialRegisterFormFirstName">Nombre</label>

            <div *ngIf="formaUsuario.controls['nombre'].errors?.required" class="form-control-feedback" style="color: red;">
                el nombre es necesario
            </div>
            
            <div *ngIf="formaUsuario.controls['nombre'].errors?.minlength" class="form-control-feedback" style="color: red;">
                por lo menos 3 caracteres
            </div>
          </div>
        </div>
        <div class="col">
          <!-- Apellido -->
          <div class="md-form">
            <input type="email" id="materialRegisterFormLastName" class="form-control"formControlName="apellido" mdbInput>
            <label for="materialRegisterFormLastName">Apellidos</label>
            <div *ngIf="formaUsuario.controls['apellido'].errors?.required" class="form-control-feedback " style="color: red;">
                el apellido es necesario
            </div>
        
            <div *ngIf="formaUsuario.controls['apellido'].errors?.minlength" class="form-control-feedback " style="color: red;">
                por lo menos 3 caracteres
            </div>
          </div>
        </div>
        <div class="col">
          <!--Género-->
          <div class="md-form">
            <input type="text" id="materialRegisterFormGenero" class="form-control"formControlName="correo" mdbInput>
            <label for="materialRegisterFormGenero">Género</label>
            <div *ngIf="formaUsuario.controls['correo'].errors?.required" class="form-control-feedback " style="color: red;">
                el correo es necesario
            </div>
        
            <div *ngIf="formaUsuario.controls['correo'].errors?.pattern" class="form-control-feedback " style="color: red;">
                ej: example@correo.com
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <!-- Tipo de documento -->
          <div class="md-form">
            <select class="browser-default custom-select" class="form-control" mdbInput>
              <option selected>Tipo de Documento</option>
              <option value="1">Cedula</option>
              <option value="2">T.I</option>
              <option value="3">Pasaporte</option>
            </select>
          </div>
        </div>
        <div class="col">
          <!-- Numero del Documento-->
          <div class="md-form">
            <input type="number" id="materialRegisterFormLastName" class="form-control" mdbInput>
            <label for="materialRegisterFormLastName">Número del Documento</label>
          </div>
        </div>
        <div class="col">
          <!--Estado Civil-->
          <div class="md-form">
            <input type="text" id="materialRegisterFormGenero" class="form-control" mdbInput>
            <label for="materialRegisterFormLastName">Estado Civil</label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <!-- Fecha de Nacimiento -->
          <div class="md-form">
            <input type="date" id="materialRegisterFormFirstName" class="form-control" mdbInput>
            <label for="materialRegisterFormFirstName">Fecha de Nacimiento</label>
          </div>
        </div>
        <div class="col">
          <!-- Teléfono -->
          <div class="md-form">
            <input type="tel" id="materialRegisterFormLastName" class="form-control" mdbInput>
            <label for="materialRegisterFormLastName">Teléfono</label>
          </div>
        </div>
        <div class="col">
          <!--Celular-->
          <div class="md-form">
            <input type="text" id="materialRegisterFormGenero" class="form-control" mdbInput>
            <label for="materialRegisterFormGenero">Celular</label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <!-- E-mail -->
          <div class="md-form">
            <input type="email" id="materialRegisterFormFirstName" class="form-control" mdbInput>
            <label for="materialRegisterFormFirstName">E-mail</label>
          </div>
        </div>
        <div class="col">
          <div class="md-form">
            <!-- Departamento -->
            <select class="browser-default custom-select">
              <option selected>Departamento</option>
              <option value="1">Antioquia</option>
              <option value="2">Cundinamarca</option>
              <option value="3">Caldas</option>
            </select>
          </div>
        </div>
        <div class="col">
          <!--Municipio-->
          <div class="md-form">
            <select class="browser-default custom-select">
              <option selected>Municipio</option>
              <option value="1">Medellin</option>
              <option value="2">Bogota</option>
              <option value="3">Manizales</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <!-- Direccion de residencia -->
          <div class="md-form">
            <input type="text" id="materialRegisterFormFirstName" class="form-control" mdbInput>
            <label for="materialRegisterFormFirstName">Dirección de Residencia</label>
          </div>
        </div>
        <div class="col">
          <!-- Arl -->
          <div class="md-form">
            <select class="browser-default custom-select">
              <option selected>Arl</option>
              <option value="1">Sura</option>
              <option value="2">Positiva</option>
              <option value="3">Otra</option>
            </select>
          </div>
        </div>
        <div class="col">
          <!--Eps-->
          <div class="md-form">
            <select class="browser-default custom-select">
              <option selected>Eps</option>
              <option value="1">Nueva Eps</option>
              <option value="2">Sura</option>
              <option value="3">Coomeva</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <!-- Caja de Compensación -->
          <div class="md-form">
            <select class="browser-default custom-select">
              <option selected>Caja de Compensación</option>
              <option value="1">Comfama</option>
              <option value="2">Confenalca</option>
              <option value="3">Otro</option>
            </select>
          </div>
        </div>
        <div class="col">
          <!-- Pensiones -->
          <div class="md-form">
            <select class="browser-default custom-select">
              <option selected>Pensiones</option>
              <option value="1">Colpensiones</option>
              <option value="2">Protección</option>
              <option value="3">Porvenir</option>
            </select>
          </div>
        </div>
        <div class="col">
          <!--Censantías-->
          <div class="md-form">
            <select class="browser-default custom-select">
              <option selected>Cesantías</option>
              <option value="1">Protección</option>
              <option value="2">Porvenir</option>
              <option value="3">Otro</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <!-- Entidad Empleadora -->
          <div class="md-form">
            <input type="text" id="materialRegisterFormFirstName" class="form-control" mdbInput>
            <label for="materialRegisterFormFirstName">Entidad Empleadora</label>
          </div>
        </div>
        <div class="col">
          <!-- Cargo -->
          <div class="md-form">
            <input type="email" id="materialRegisterFormLastName" class="form-control" mdbInput>
            <label for="materialRegisterFormLastName">Cargo</label>
          </div>
        </div>
        <div class="col">
          <!--Fecha de Vinculación-->
          <div class="md-form">
            <input type="date" id="materialRegisterFormGenero" class="form-control" mdbInput>
            <label for="materialRegisterFormGenero">Fecha de Vinculación</label>
          </div>
        </div>
      </div>
      <!--Tipo de Contrato-->
      <div class="md-form">
          <select class="browser-default custom-select">
              <option selected>Tipo de Contrato</option>
              <option value="1">Temporal</option>
              <option value="2">Prestación de Servicios</option>
              <option value="3">Indefinido</option>
              <option value="4">Fijo</option>
              <option value="3">Otro</option>
            </select>
      </div>
      <!-- button Enviar-->
      <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
        mdbWavesEffect type="submit">Enviar</button>
        {{formaUsuario.valid}}




    </form>
    <!-- Form -->

  </mdb-card-body>

</mdb-card>
<!-- Material form register -->
